.hover-card {
    position: relative;
    display: inline-block;
    width: 18rem;
    height: auto;
    overflow: hidden;
  }
  
  .hover-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #19bc9b;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }
  
  .hover-card:hover .overlay {
    opacity: 0.9;
  }
  
  .hover-card .plus-icon {
    color: white;
    font-size: 2rem;
  }