.aboutCom{
    background-color: #19BC9B;
    height: 80vh;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;

    h1{
        font-size: 40px;
        font-weight: 700;
    
    }
}